<div class="container pt-4" style="height: 500px;">
  <h1>角部屋について</h1>
  <img src="/images/2.jpg" height="200px">
  <p>角部屋には物理科の1回生から3回生までが在籍しています。<br>そのため、上回生に気軽に質問ができます。角部屋には物理科の中でも真面目に物理を学んでいる人や、授業では学ぶことのできない事を知っている人もいます。気軽に話しかけて、自分が予習すべき事やしなければいけない事を確認しましょう。アニメやゲーム好きの人もいるので共通の趣味が見つかるかもしれません。
</p>
</div>