<div class="container pt-4">
  <h1>角部屋について</h1>
    <h4>先輩から学び、後輩に教えることで理解を深める</h4>
      <img src="/images/2.jpg" height="200px">
      <p>角部屋には物理科の1回生から3回生までが在籍しています。<br>
        そのため、上回生に気軽に質問ができます。角部屋には物理科の中でも真面目に物理を学んでいる人や、<br>
        授業では学ぶことのできない事を知っている人もいます。気軽に話しかけて、自分が予習すべき事や<br>
        しなければいけない事を確認しましょう。アニメやゲーム好きの人もいるので共通の趣味が見つかるかもしれません。
      </p>
    <h4>実は居心地の良い快適な空間</h4>
      <p>この部屋には大きな6人がけの椅子と、一人で使える自習スペースがありそれぞれにコンセントが設置されています。また、机の近くには大きなホワイトボードが置いてあり、自由に使うことができます。食事をするために電子レンジや給湯器、冷蔵庫などもあるので気軽にお使いください。使い方がわからない場合は管理人や部屋にいる上回生に聞いてみてください。</p>
</div>