<div class="bg02">
  <div class="container pt-4 pb-5 text-light">
    <div>
      <h1 class="my-3" style=" text-shadow: 0 0 10px rgba(0,0,0,1);">角部屋について</h1>
      <p>
    </div>
    
      <div class="my-3 p-4" style="background-color: rgba(20,20,20,0.6);">
        <h4 class="my-2">先輩から学び、後輩に教えることで理解を深める</h4>
          <p>角部屋は物理科の1回生から3回生までならだれでも利用できます。
          実際、角部屋には毎日たくさんの人が出入りしています。
          アニメやゲーム好きの人もいるので共通の趣味が見つかるかもしれません。
          テストがやばくて先輩方に教えてもらいながら勉強する子や、逆に勉強を教える子もいます。ただダラダラしに来る人もいます。
          </p>
          <p>この角部屋が先輩や新たな友達との出会いに少しでもつながれば素敵だと思います。ぜひ気軽にお越しください。</p>
      </div>
      
      <div class="my-3 p-4" style="background-color: rgba(20,20,20,0.6);">
        <h4>快適な空間でのんびりと</h4>
          <p>この部屋には快適に過ごせる設備が整っています。広い机がいくつもあり、その周りにはコンセントが設置されていたり、大きなホワイトボードが置いていたりして、自由に使うことができます
          食事をするために電子レンジや給湯器、冷蔵庫などもあるので気軽にお使いください。
          ほしい本があったり、使い方がわからない場合は管理人や部屋にいる上回生に聞いてみてください。</p>
      </div>
</div>